body {
  display: grid;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://img.freepik.com/premium-photo/red-paper-plane-out-line-with-white-paper-change-disrupt-finding-new-normal-way-blue-background_50039-1523.jpg?w=2000);
  text-align: center;
  align-items: center;
}

a {
  color: red;
  background: white;
  border: solid 3px black;
  padding: 5px;
}

.red {
  color: red;
}

table {
  background: white;
  border: solid 3px black;
  text-align: center;
  margin: auto;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}