body {
  display: grid;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://img.freepik.com/premium-photo/red-paper-plane-out-line-with-white-paper-change-disrupt-finding-new-normal-way-blue-background_50039-1523.jpg?w=2000);
  text-align: center;
  align-items: center;
}

a {
  color: red;
  background: white;
  border: solid 3px black;
  border-radius: 10px;
  padding: 5px;
}

.red {
  color: red;
}

table {
  background: white;
  border: solid 3px black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}

th, td {
  padding: 10px;
}

#destinationform {
  display: flex;
  justify-content: center;
  background: white;
  width: 200px;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

form > label {
  border-radius: 10px;
  padding: 5px;
}

form > label > select, form > label > input, #show-page, #destination, #buyticket {
  margin-top: 20px;
}

.tickets {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tickets > div, #newflight {
  border: solid 3px black;
  border-radius: 20px;
  background: white;
  padding: 50px;
  font-size: 18px;
}

